.btn {
    color: $primaryLight!important; //workaround! to be removed when new stylesheets are implemented
    font-size: $fontSize;
    border: 2px solid transparent !important;//workaround! to be removed when new stylesheets are implemented
    font-weight: 500;
    border-radius: $borderRadius;
    box-sizing: border-box;
    max-height: 35px;

    &:disabled {
        opacity: .4;
        pointer-events: none;
    }

    &:hover {
        border-color: transparent;
        opacity: .8;
        color: $primaryLight;
    }

    &-primary {
        background-color: $primaryBlue!important; //workaround! to be removed when new stylesheets are implemented

        &:hover {
            background-color: $primaryBlue !important; //workaround! to be removed when new stylesheets are implemented;
        }
    }

    &-secondary {
        background-color: $secondaryGrey!important; //workaround! to be removed when new stylesheets are implemented

        &:hover {
            background-color: $secondaryGrey;
        }
    }

    &-success {
        background-color: $successColor;

        &:hover {
            background-color: $successColor;
        }
    }

    &-danger {
        background-color: $dangerColor;

        &:hover {
            background-color: $dangerColor;
        }
    }

    //outline buttons
    &-outline {
        background-color: transparent;

        &-primary {
            border: 2px solid $primaryBlue !important; //workaround! to be removed when new stylesheets are implemented
            color: $primaryBlue !important; //workaround! to be removed when new stylesheets are implemented
    
            &:hover {
                opacity: 1;
                color: $bgSurfaceLight !important; //workaround! to be removed when new stylesheets are implemented
                color: $bgSurfaceLight !important; //workaround! to be removed when new stylesheets are implemented
                background-color: $primaryBlue !important; //workaround! to be removed when new stylesheets are implemented
            }
        }

        &-secondary {
            border: 2px solid $secondaryGrey !important; //workaround! to be removed when new stylesheets are implemented
            color: $secondaryGrey !important; //workaround! to be removed when new stylesheets are implemented
    
            &:hover {
                opacity: 1;
                color: $bgSurfaceLight !important; //workaround! to be removed when new stylesheets are implemented
                background-color: $secondaryGrey !important; //workaround! to be removed when new stylesheets are implemented
            }
        }

        &-success {    
            border: 2px solid $successColor !important; //workaround! to be removed when new stylesheets are implemented
            color: $successColor !important; //workaround! to be removed when new stylesheets are implemented

            &:hover {
                opacity: 1;
                color: $bgSurfaceLight !important; //workaround! to be removed when new stylesheets are implemented
                background-color: $successColor !important; //workaround! to be removed when new stylesheets are implemented
            }
        }

        &-danger {
            border: 2px solid $dangerColor !important; //workaround! to be removed when new stylesheets are implemented
            color: $dangerColor !important; //workaround! to be removed when new stylesheets are implemented
    
            &:hover {
                opacity: 1;
                color: $bgSurfaceLight !important; //workaround! to be removed when new stylesheets are implemented
                background-color: $dangerColor !important; //workaround! to be removed when new stylesheets are implemented
            }
        }
    }
}