.card {
    border-radius: $borderRadius;
    overflow: hidden;

    @include themify() {
        border: themed($border);
    }

    &-header {

        @include themify() {
            background-color: themed($tabsSurfaceBg);
            border-bottom: themed($border) !important;
        }
    }

    &-body {
        padding: 24px;

        @include themify() {
            background-color: themed($surfaceBg);
        }
    }
}