{% load django_vite %}
<!doctype html>
<html>
	<head runat="server">
		{% vite_hmr_client %}
		{% vite_asset 'src/login.js' %}
		<title>PgManage</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
	</head>
	<body style="opacity: 0;">
		<div class="pgmanage-login" autofill="false">
			<div class="pgmanage-login__wrapper">
				<div class="pgmanage-login__header">
					{% include 'app/animated_assets/animated_logo_pgmanage.svg' %}
					<div class="pgmanage-login__version">
						<small>v{{ pgmanage_short_version }}</small>
					</div>
				</div>

				<div class="pgmanage-login__body">
					<div class="form-group mb-2">
						<label class="fw-bold mb-2">User</label>
						<input id="txt_user" type="text" class="form-control">
					</div>

					<div class="form-group mb-3">
						<label class="fw-bold mb-2">Password</label>
						<input id="txt_pwd" type="password" class="form-control">
					</div>

					<div class="d-flex">
						<button id="btn_sign_in" type="button" class="btn btn-success ms-auto">Sign in</button>
					</div>

					<div id="alert_box" class="alert alert-danger mt-3 mb-0 d-none" role="alert"></div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			var app_base_path = '{{ base_path }}';
			var v_csrf_cookie_name = '{{ csrf_cookie_name }}';
		</script>
		{% vite_asset 'src/login.js' %}
		{% csrf_token %}
	</body>
</html>
