.data-editor {
    &__footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-left: -8px;

        @include themify() {
            background: themed($surfaceBgTertiary);
        }
    }
}