.handsontable {
    th, tr th, tr td {
        border: none !important; 
    }
 
    thead {
        th, tr th, tr td {
            font-family: $fontFamily;
        }

        th {
            color: $primaryMutedColor !important;
            text-align: left;
            padding: 0px 0.36rem 0px 0.36rem;

            @include themify() {
                background-color: themed($dataEditorTableFixedElsBg) !important;
            }

            .relative {
                padding: 0;
            } 
        }
    }

    span.colHeader {
        font-size: 0.625rem;
        line-height: 0.8rem;
        font-weight: bold;
        text-align: left;
    }

    tbody {
        th, td {
            white-space: nowrap;
            font-family: $fontFamilyMonospace;
            height: 2rem;
            padding: 0px 0.36rem 0px 0.36rem;
            vertical-align: middle;
            text-align: left;
    
            @include themify() {
                color: themed($color);
            }
        }

        tr {
            @include themify() {
                background-color: themed($surfaceBg);
            }

            &:nth-of-type(even){
                td, th {
                    @include themify() {
                        background-color: themed($surfaceBgTertiary);
                        color: themed($color);
                    }
                }
            }

            &:nth-of-type(odd){
                td, th {
                    @include themify() {
                        background-color: themed($surfaceBgSecondary);
                        color: themed($color);
                    }
                }
            }   
        }
    }

    input, textarea {
        font-size: $fontSize;
    
        @include themify {
            background-color: themed($inputBg);
            border: themed($border);
            color: themed($color);
        }

        &::placeholder {
            font-size: $fontSize;
        }

        &:focus-visible {
            outline: none !important;
        }
    }

    &.data-grid {
        thead { 
            tr:first-of-type th {
                border-bottom: 0 !important;
            }
        }
      
        tbody {
            tr {
                &:nth-of-type(even){
                    td {
                        @include themify() {
                            background-color: themed($surfaceBgTertiary);
                            color: themed($color);
                        }
                    }
                }

                &:nth-of-type(odd){
                    td {
                        @include themify() {
                            background-color: themed($surfaceBgSecondary);
                            color: themed($color);
                        }
                    }
                }

                td {
                    &:first-of-type {
                        border-bottom-color: transparent !important;
                    }

                    &.row {
                        &-deleted {
                            background-color: rgba($dangerColor, 0.25) !important;
                        }
                        &-dirty {
                            background-color: rgba($warningColor, 0.45) !important;
                        }
                        &-new {
                            background-color: rgba($successColor, 0.25) !important;
                        }
                    }
                }    
            }
        }

        tr {
            &:first-child {
                th, td {
                    border-top: 0;
                }
            }

            &:last-child td{
                border: 0 !important;
            }
        }
        

        .ht_clone_top_left_corner thead tr th:nth-last-child(2) {
            border-right: 0;
        }
    }

    //todo - move styles from old stylesheet for simple ht variant
    // &.simple {
       
    // }
}
